name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read
  checks: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup JDK
        uses: actions/setup-java@v4.2.1
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven
      - name: Maven Build
        run: mvn install --file pom.xml -DskipTests
      - name: Tests
        run: mvn verify --file pom.xml --fail-at-end
        continue-on-error: true
      - name: Test Results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-reports
          path: '**/target/surefire-reports/TEST-*.xml'

  report:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: dorny/test-reporter@v2
        with:
          name: Test Report
          artifact: test-reports
          path: '**/*.xml'
          reporter: java-junit
          fail-on-error: false

  clean-up:
    needs: report
    runs-on: ubuntu-latest
    steps:
      - name: Unit Test Results
        uses: geekyeggo/delete-artifact@v5
        with:
          name: test-reports